:root {
    --color: #3F5FCE;
    --taskBG: #FFFFFF
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    min-height: 100%;
    width: 100%;
    background-color: #F6F5FB;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;
    width: 100%;
}

.btn button {
    padding: 8px 25px;
    border-radius: 50px;
    border: none;
}

.mode {
    background-color: var(--color);
    color: white;
}

button:hover {
    scale: 1.1;
    cursor: pointer;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

form {
    display: flex;
    gap: 20px;
    background-color: var(--taskBG);
    padding: 10px;
    border-radius: 10px;
}

form input {
    padding: 5px 20px 5px 5px;
    border-radius: 2px;
}

form button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    border: 1px solid black;
}

select {
    border-radius: 20px;
    padding: 5px;
}

.tasks {
    padding: 30px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 400px;

}

.task {
    height: 150px;
    width: 400px;
    background-color: #3E3E42;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);
    color: white;
    padding: 10px;

}

.h1 {
    padding: 20px 50px;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

.edit {
    background-color: rgba(172, 255, 47, 0.596);
}

.delete {
    background-color: rgba(255, 0, 0, 0.614);
    color: black;
}

.manage {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    align-items: center;
}

.manage p {
    background-color: greenyellow;
    border-radius: 50px;
    padding: 5px 15px;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 5px 5px 5px;
    flex-direction: column;
    gap: 5px;
}

.box-child {
    height: 100px;
    width: 200px;
    background-color: rgba(65, 105, 225, 0.274);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.box-parent {
    height: 220px;
    width: 300px;
    border: 2px dotted rgb(101, 27, 27);
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-grand {
    border-radius: 10px;
    height: 320px;
    flex-direction: column;
    width: 400px;
    border: 2px dotted rgb(65, 27, 101);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-child h3 {
    font-size: 18px;
    color: royalblue;
}

.box-child:hover {
    scale: 1.1;
    background-color: rgb(97, 106, 132);
    color: white;
    cursor: pointer;
}


.box-child p {
    font-size: 13px;
}

.tree-section {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: none;
}

.inner-result {
    min-height: 100px;
    width: 300px;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3f5ece5f;
}



.tree-section h2 {
    font-size: 25px;
    background-color: royalblue;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.second {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.third {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

@media (max-width:650px) {
    nav {
        padding: 10px 25px;
    }

    input {
        padding: 2px 2px 2px 5px;
    }

    form {
        flex-direction: column;
        width: 90%;
    }

    form button {
        font-size: 8px;
    }



}
